*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: "Helvetica Neue", sans-serif;
    scroll-behavior: smooth;
}
.mt-8{
	margin-top: 8px;
}
.header{
	display: flex;
	flex-direction:row; 
	height: 64px;
	padding: 0 92px;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 2; 
	border-bottom: 1px solid black;
	background-color: #fff;
}



.logo{
	display: inline-block;
	padding: 5px 0;
	width: 10%;
}

.logo>a>img{
}

.nav{
	display: inline-flex;
	width: 79%;
	text-align: center;
	justify-content: space-around;
}

.nav >li{
	display: inline-block;
	
}

.nav li{
	position: relative;
	display: inline-block;
	    text-align: left;
}

.nav>li>a{
	text-transform: uppercase;
}

.nav>li:hover>a{
	color: red;
	background-color: #fff;
	
}

.nav li a {
	font-size: 14px;
	text-decoration: none;
	line-height: 61px;
	padding: 0 20px;
	display: block;
	color: black;
	text-align: left;
}

.subnav{
	position: fixed;
	display: none;
	top: 64px;
	z-index: 3;
	left: 0;
	right: 0;
	background-color: #fff;
	padding: 30px 10px;
}


.nav li:hover .subnav{
	display: block;
	animation: fadeIn linear 0.1s;
}

.nav li .subnav a:hover{
	color: red;
}

@keyframes fadeIn{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}

a:hover{
	text-decoration: none;
}

.header-btn{
	text-decoration: none;
	color: black;
	position: relative;
}

.number-cart{
	position: absolute;
	right: -10px;
    top: -17px;
	padding: 0 5px ;
	font-size: 12px;
	border-radius: 50%;
	color: #fff;
	background-color: rgb(216, 0, 0);
}

a:visited{
	color: none;
}

.header-btn>i{
	font-size: 20px;
}

.header-btn:hover{
	color: red;
	opacity: 0.7;
	text-decoration: none;
}

.btn-right{
	display: inline-flex;
	width: 10%;
	justify-content: space-evenly;
	align-items: center
}

.search-btn{
}

.search-icon{
	font-size: 20px;
}

.search-container{
	text-align: center;
	border: 1px solid #575757;
	width: 1000px;
	border-radius: 50px;
	height: 40px;
	margin: 0 auto;
}

.search-input{
	border: none; 
	float:left; 
	outline:none; 
	line-height: 40px; 
	padding: 0 20px;
	background-color: transparent;
}

.search-submit{
	background-color: transparent;
	border: none;
	line-height: 40px;
	float: right;
	padding: 0 20px;
}

.heart-icon{
	font-size: 20px;
}


.btn-right>div{
	display: inline-block;
} 



.dropdown-menu{
	left:86%;
	top: 70% ;
	animation: fadeIn linear 0.2s;
}

/* END HEADER-------------------------------------------- */

/* SLIDER-------------------------------- */
#slider{
	position: relative;
    /* margin-top: 25px; */
	height: 850px;
}

#slider{
	height: 100%;
}

#slider img{
	object-fit: cover;
    height: 100%;
    width: 100%;
}

#slider .slick-list{
	height: 100%;
}

.mySlides{ width:100%}

.button-left{left:1%; font-size:50px}
.button-right{right:1%; font-size:50px }
.image-button{ border:none;display:inline-block;padding:10px;height:50px;vertical-align:middle;overflow:hidden; color:#fff;background:#000;position:absolute; opacity:0.5;}
.image-button:hover{color:#000;background-color:#ccc;}
.display-container{position:relative}

.slick-dots{
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%,0);
	align-items: center;
	justify-content: center;
	gap: 0 20px;
}

.slick-dots button{
	font-size: 10px;
}

.heading-slick{
	display: inline;
	font-size: 32px;
	letter-spacing: 0.2px;
    line-height: 1.2;
	border-bottom: 3px solid #d9d827;
	text-transform: uppercase;
}

.slick-prev{
	left: -30px;
}


.slick-next{
	right:-30px;
}

.slick-arrow{
	position: absolute;
	top: 42%;
	color: #ccc;
	border: none;
	padding: 10px 20px;
	z-index: 1;
    background-color: transparent;
    font-size: 28px;
}

.slick-arrow:hover{
	opacity: 0.6;
}



.list-items{
	top: 40px;
    left: 40px;
	width: 80%
}

.list-items img{
	object-fit: contain;
}

.list-items p{
	text-transform: uppercase;
	font-size: 40px;
	margin-top: 8px;
}

.button-list-items{
	position: absolute;
    bottom: 24px;
    right: 28px;
    display: block;
    width: 120px;
    /* background-color: #000; */
    height: 40px;
    text-align: center;
    line-height: 40px;
    border: 2px solid #000;
    color: #000;
    font-weight: 600;
    border-radius: 50px;
}

.button-list-items:hover{
	cursor: pointer;
	color: black;
	opacity: 0.5;
}

#footer{
	padding-top: 50px;
	border-top: 1px solid #000;
}

#footer .footer_header{
	text-align: left;
	font-size: 16px;
	text-transform: uppercase;
	margin-bottom: 20px;
}
#footer .footer_detail {
	list-style: none;
	text-align: left;
	font-size: 13px;
	line-height: 25px;
	color: #575757;
	letter-spacing: 0.5px;

}

#footer .footer_detail li a{
	text-decoration: none;
	color: #575757;
}

#top-up {
	font-size: 50px;
	cursor: pointer;
	position: fixed;
	z-index: 2;
	color: #000;
	bottom: 170px;
	right: 15px;
	display: none;
}
#top-up:hover {
	color: #333
}

.contact{
	cursor: pointer;
	position: fixed;
	z-index: 2;
	color: #000;
	display: block;
	display: block;
	bottom: 100px;
	right: 15px;
}

#open-button{
	font-size: 50px;
}

@keyframes growth{
	from { transform: scale(0)}
	to {transform: scale(1)}
}

.toolbar {
	display: none;
    min-width: 180px;
    min-height: 138px;
    background-color: #fff;
    position: absolute;
    left: -200px;
    top: -46px;
    text-align: left;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(0 0 0 / 30%);
	animation: growth .2s;
}

.toolbar li{
	position: relative;
	list-style: none;
	padding: 8px 20px;
	margin-top: 5px;

}

.toolbar li a{
	text-decoration: none;
	font-size: 14px;
	color: black;
	text-align: left;
	line-height: 30px;
}

.toolbar li a i{
	font-size: 22px;
	margin-right: 10px;
}

.visibile {
	display: block;	
	z-index: 1;
}


